<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        .hidden { display: none; }
    </style>
</head>
<body>
	<form method="post" action="{% url 'login' %}">
		<div>
			{% csrf_token %}
			<label for="loginUsername">Username:</label>
			<input type="text" id="loginUsername" name="username" required>
			<label for="loginPassword">Password:</label>
			<input type="password" id="loginPassword" name="password" required>
			<button type="submit">Login</button>
		</div>
	</form>
</body>
</html>
