:root {
	--background-color: #f8f8db;
	--light: #e9e7f4;
	--red: #d4302f;
	--light: #e9e7f4;
	--red: #d4302f;
	--yellow: #d3ac53;
	--blue: #2d77be;
	--brown: #725d46;
	--dark: #271c0b;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
	margin: 0;
    overflow: hidden;
	margin: 0;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.invisible {
	visibility: hidden;
}

#auth {
	border: 7px solid var(--background-color);
    display: flex;
    /* transition: all 0.5s ease; */
}

.horizontal-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--background-color);
    transform: translateY(-50%);
}

.left-side, .right-side {
	color: var(--background-color);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all 0.5s ease;
}

.col-0 {
	width: 0;
	flex-shrink: 1;
	transition: all 400ms ease;
}

.col-6 {
	flex-grow: 1;
	transition: all 400ms ease;
}

.expanded{
    flex: 8; /* Adjust this value to control text movement */
}

.left-side {
	background-color: var(--blue);
	border-right: 7px solid var(--background-color);
}
.right-side {
	background-color: var(--red);
}
.full-height {
	height: 100%;
}

.left-content, .right-content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.split-screen-text {
	font-size: 40px;
	/* transition: all 0.5s ease; */
}

#game-area {
	width: 800px;
    height: 600px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering trick */
}

@font-face {
	font-family: "ARCADECLASSIC";
	src: url("game/font/ARCADECLASSIC.TTF") format("truetype");
	font-weight: normal;
	font-style: normal;
}

#games-menu-area,
#games-local-menu,
#games-tournament-menu {
	width: 1366px;
    height: 768px;
	position: fixed;
    top: 50%;
    left: 50%;
	z-index: 2;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2c2c2c;
    color: white;
    border-radius: 10px;
	transform: translate(-50%, -50%); /* Centering trick */
	overflow-y: auto; /* Allows scrolling if needed */
}

#games-menu-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #ff4444;
    letter-spacing: 2px;
}

#games-menu-area2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#games-menu-player-info  {
    width: 35%;
    text-align: center;
}

#player-info h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffcc00;
}

#games-menu-player-buttons {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}



#games-menu-selected-skin {
    width: 300px;
    height: 500px;
    background-color: #444;
    margin: 20px auto;
    border: 3px solid #ffcc00;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

	/* Set the background GIF */
	
    background-image: url('game2/assets/Mask/Sprites/preview.gif');
    background-size: cover;
	background-position: center;
    background-repeat: repeat; 
	
}

#games-menu-game-options {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
	align-items: center;
	margin: 50px auto 0;
}

#games-menu-game-options button {
    width: 80%; /* Adjust the width of the buttons */
    padding: 15px;
    font-size: 18px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#games-menu-game-options button:hover {
    background-color: #ffcc00;
    color: #2c2c2c;
}

#games-local-menu-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;  /* Added horizontal padding for more spacing */
    margin-top: 40px;
}

#games-local-player1-info, 
#games-local-player2-info {
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-name-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 30px;  /* Increased margin for more space below input */
    font-size: 16px;
    border: 2px solid #ff4444;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: white;
    text-align: center;
}

#games-local-player1-wrapper,
#games-local-player2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    width: 100%; /* Ensure the wrapper takes full width */
    gap: 15px; /* Space between button and skin preview */
}

#games-local-player1-buttons,
#games-local-player2-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;  /* Increased gap between buttons */
    margin-bottom: 30px;  /* Increased margin for more space below buttons */
}

#games-local-player1-skin,
#games-local-player2-skin {
    width: 200px;
    height: 300px;
    background-color: #444;
    border: 3px solid #ffcc00;
    border-radius: 10px;
    background-image: url('game2/assets/Mask/Sprites/preview.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#games-local-play-button {
    width: 20%;
    display: flex;
    justify-content: center;
    margin-top: 30px;  /* Increased margin to create more space above the play button */
	gap: 10px;
}

#games-local-play-button button {
    width: 100%;
    padding: 20px;
    font-size: 24px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#games-local-play-button button:hover,
#games-tournament-play-button button:hover {
    background-color: #ffcc00;
    color: #2c2c2c;
}

#games-tournament-menu-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    gap: 30px;
}
#games-players-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, auto);  /* 2 rows */
    grid-gap: 20px;
    width: 100%;
}

.games-tournament-player-info,
.games-tournament-player-info2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c1c;
    padding: 10px;
    border-radius: 10px;
}

.player-name-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid #ff4444;
    border-radius: 5px;
    background-color: #2c2c2c;
    color: white;
    text-align: center;
}

.games-tournament-player-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.games-tournament-player-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.games-tournament-player-skin1, 
.games-tournament-player-skin2, 
.games-tournament-player-skin3, 
.games-tournament-player-skin4, 
.games-tournament-player-skin5, 
.games-tournament-player-skin6, 
.games-tournament-player-skin7, 
.games-tournament-player-skin8 {
    width: 150px;
    height: 200px;
    background-color: #444;
    border: 3px solid #ffcc00;
    border-radius: 10px;
    background-image: url('game2/assets/Mask/Sprites/normal_preview.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#games-tournament-play-button {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

#games-tournament-play-button button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.games-tournament-player-info2 {
    display: none;
}

#game2-area {
    width: 1366px;
    height: 768px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering trick */
	z-index: 1;
	display: inline-block;
}

#game2-canvas {
    width: 1366px;
    height: 768px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering trick */
	z-index: 10;
	display: inline-block;
}


#div-game2-area {
	width: 1366px;
    height: 768px;
	position: fixed;
    top: 50%;
    left: 50%;
	z-index: 2;

    transform: translate(-50%, -50%); /* Centering trick */
}

#div-game2-top {
	width: 100%;
	height: 12.7%;
	position: fixed;
	align-items: center;
	background-color: transparent;
	z-index: 3;
	display: flex;
	box-sizing: border-box;
	padding: 6.3%;
	padding-top: 5%;
}

#game2-bar1-parent {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
	border-top: 7px solid white;
	border-bottom: 7px solid white;
	border-left: 7px solid white;
	z-index: 4
}
#game2-bar1-background {
	position: relative;
	height: 40px; /* missing put as percentage */
	width: 100%;
	background-color: rgb(185, 44, 44);
	z-index: 5
}
#game2-bar1 {
	top: 0;
	right: 0;
	/* left: 0; */
	width: 100%;
	bottom: 0;
	position: absolute;
	background-color: #29ff52;
	z-index: 5;
}

#game2-bar2-parent {
	width: 100%;
	position: relative;
	border-top: 7px solid white;
	border-bottom: 7px solid white;
	border-right: 7px solid white;
	z-index: 4
}
#game2-bar2-background {
	position: relative;
	height: 40px; /* missing put as percentage */
	background-color: rgb(185, 44, 44);
	z-index: 5
}
#game2-bar2 {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	background-color: #29ff52;
	z-index: 5;
}


#game2-timer {
	width: 7.3%;
	height: 70px; /* missing put as percentage */
	position: relative;
	background-color: black;
	border: 7px solid white;
	z-index: 5;
	flex-shrink: 0;
	font-family: "ARCADECLASSIC";
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;

}

#game2-end-text {
	position: absolute;
	color: white;
	align-items:center;
	justify-content: center;
	font-family: "ARCADECLASSIC";
	font-size: 60px;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	z-index: 6;
}

#chat-main-div {
    width: 80%;
    height: 80vh;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

#chat-left-parent {
    width: 250px;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

#chat-contacts-history {
    flex-grow: 1;
    padding: 10px;
}

#chat-contacts-history h2 {
    margin-bottom: 10px;
}

.chat-list, ul {
    list-style: none;
}

.chat-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.chat-item:hover {
    background-color: #ddd;
}

#chat-right-parent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#toggle-friend-list {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
}

#toggle-friend-list:hover {
    background-color: #444;
}

#chat-friend-div {
    flex-grow: 1;
    padding: 10px;
    display: none;
    overflow-y: auto;
}

#chat-right-top {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
}

#chat-right-bottom {
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f0f0f0;
}

#chat-right-bottom textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
#auth {
	border: 7px solid var(--background-color);
    display: flex;
    /* transition: all 0.5s ease; */
}

.horizontal-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--background-color);
    transform: translateY(-50%);
}

.left-side, .right-side {
	color: var(--background-color);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	transition: all 0.5s ease;
}

.col-0 {
	width: 0;
	flex-shrink: 1;
	transition: all 400ms ease;
}

.col-6 {
	flex-grow: 1;
	transition: all 400ms ease;
}

.expanded{
    flex: 8; /* Adjust this value to control text movement */
}

.left-side {
	background-color: var(--blue);
	border-right: 7px solid var(--background-color);
}
.right-side {
	background-color: var(--red);
}
.full-height {
	height: 100%;
}

.left-content, .right-content {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.split-screen-text {
	font-size: 40px;
	/* transition: all 0.5s ease; */
}